@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, * {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
#root {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

main:focus, div:focus {
    outline: none;
    border: none;
}

.current-symbol::before {
    content: "";
    display: block;
    min-width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1px;
    border-radius: 1rem
}

@import "tailwindcss";